.container {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
}

.content {
    max-width: 500px;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 'clock clock'
                         'clock clock'
                         'alarm weather'
                         'count weather'
                         'calc calc'
                         'calc calc'
                         'note note'
                         'note note'
                         'todo todo'
                         'todo todo'
                         'covid covid'
                         'covid covid';
}



.content > :nth-child(1) {
    grid-area: clock;
}

.content > :nth-child(2) {
    grid-area: covid;
}

.content > :nth-child(3) {
    grid-area: alarm;
}

.content > :nth-child(4) {
    grid-area: calc;
}

.content > :nth-child(5) {
    grid-area: todo;
}

.content > :nth-child(6) {
    grid-area: weather;
}

.content > :nth-child(7) {
    grid-area: note;
}

.content > :nth-child(8) {
    grid-area: count;
}

html::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    .content {
        max-width: 100vw;
        height: calc(100vh - 200px);
        padding: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 'clock clock alarm weather'
                             'clock clock count weather'
                             'covid covid note note'
                             'covid covid note note'
                             'calc calc todo todo'
                             'calc calc todo todo';
        height: fit-content;
        margin-bottom: 100px;
    }
    
}


@media screen and (min-width: 1200px) {
    .content {
        max-width: 100vw;
        height: calc(100vh - 200px);
        padding: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 'clock clock covid covid alarm note note note'
                             'clock clock covid covid count note note note'
                             'calc calc todo todo weather note note note'
                             'calc calc todo todo weather note note note';
        aspect-ratio: 5/2.2;
    }
}