.container {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
}

.content {
    max-width: 500px;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-template-areas: 'clock clock'
                         'clock clock'
                         'alarm weather'
                         'count weather'
                         'calc calc'
                         'calc calc'
                         'note note'
                         'note note'
                         'todo todo'
                         'todo todo'
                         'crypto crypto'
                         'crypto crypto'
                         'covid covid'
                         'covid covid';
}



.content > :nth-child(1) {
    grid-area: clock;
}

.content > :nth-child(2) {
    grid-area: covid;
}

.content > :nth-child(3) {
    grid-area: crypto;
}

.content > :nth-child(4) {
    grid-area: alarm;
}

.content > :nth-child(5) {
    grid-area: calc;
}

.content > :nth-child(6) {
    grid-area: todo;
}

.content > :nth-child(7) {
    grid-area: weather;
}

.content > :nth-child(8) {
    grid-area: note;
}

.content > :nth-child(9) {
    grid-area: count;
}




@media screen and (min-width: 800px) {
    .content {
        max-width: 100vw;
        height: calc(100vh - 200px);
        padding: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 'clock clock covid covid alarm todo todo crypto'
                             'clock clock covid covid count todo todo crypto'
                             'calc calc note note weather todo todo crypto'
                             'calc calc note note weather todo todo crypto';
        aspect-ratio: 5/2.2;
    }
}