.container {
    box-shadow:  4px 4px 10px var(--shadow-x),
    -4px -4px 10px var(--shadow-y),
       inset 2px 2px 5px var(--shadow-y),
       inset -2px -2px 5px var(--shadow-x);
       border-radius: 20px;
       padding: 10px;
}

.inputArea {
    display: flex;
    justify-content: space-between;
    height: 15%;
}

.inputArea > input {
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    width: calc(80% - 10px);
    border: none;
    box-shadow:  inset 2px 2px 6px var(--shadow-x),
    inset -2px -2px 6px var(--shadow-y);
    user-select: none;
    padding-left: 10px;
    color: var(--color-secondary);
}

.inputArea > input:focus {
    outline: none;
}

.inputArea > div {
    cursor: pointer;
    border-radius: 50%;
    box-shadow:   3px 3px 10px var(--shadow-x),
    -3px -3px 10px var(--shadow-y),
    inset -1px -1px 4px var(--shadow-x),
    inset 1px 1px 4px var(--shadow-y);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 350%;
    aspect-ratio: 1/1;
    color: var(--color-secondary);
}

.inputArea > div:active {
    box-shadow: inset  2px 2px 10px var(--shadow-x),
    inset -2px -2px 10px var(--shadow-y),
     -1px -1px 4px var(--shadow-x),
      1px 1px 4px var(--shadow-y);
    opacity: 80%;
    border: 0.1px solid var(--color-secondary);
}

.inputArea div > i {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.dataArea {
    padding: 20px;
    height: calc(85% - 40px);
    display: grid;
    grid-template-rows: 30px 1fr 1fr;
}

.countrySec {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countrySec > div {
    display: flex;
    align-items: center;
}

.countrySec div > img {
    height: 1.3rem;
    margin-right: 3px;
}

.todaySec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
}

.today {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 0.6em;
}

.todaySec div:nth-of-type(1) div i {
    animation: rotation 10s infinite reverse linear;
}

.totalSec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dataRow {
    margin-top: 3px;
}

.dataRow > div{
    display: flex;
    justify-content: space-between;
}

.graphSet {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}

.graphSet > b {
    width: 40px;
}

.graph {
    box-shadow:  3px 3px 6px var(--shadow-x),
    -3px -3px 6px var(--shadow-y);
    border: 3px solid var(--color-primary);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: 8px;
    overflow: hidden;
}

.graph > div {
    left: 0;
    height: 100%;
    background-color: var(--color-accent);
    border-radius: 5px;
}

.graph > p {
    position: absolute;
    color: var(--color-primary);
    right: 5px;
}