.container {
    box-shadow:  4px 4px 10px var(--shadow-x),
    -4px -4px 10px var(--shadow-y),
       inset 2px 2px 5px var(--shadow-y),
       inset -2px -2px 5px var(--shadow-x);
       border-radius: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 10px;
}

.header {
    display: flex;
    width: 100%;
    height: 40px;
}

.input {
    border-radius: 10px;
    box-shadow:  inset 6px 6px 20px var(--shadow-x),
    inset -6px -6px 20px var(--shadow-y);
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
}

.input:focus {
    outline: none;
}

.select {
    position: relative;
    z-index: 8;
    width: ;
    background-color: var(--color-secondary);
    border-radius: 50%;
}

option {
    /* display: none; */
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 5px;
}

option:nth-of-type(1) {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: red;
}
/* option:nth-of-type(2) {
    background-color: red;
}
option:nth-of-type(3) {
    background-color: red;
}
option:nth-of-type(4) {
    background-color: red;
} */

.body {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.body::-webkit-scrollbar {
    display: none;
}
