:root {
  /* color palette */
  --color-primary:#aaaaaa;
  --color-secondary: #303234;
  --color-accent: #f10356;  
  --shadow--x: #9c9a9a;
  --shadow--y: #c1c1c1;
}

html {
  /* 62.5% of 16px = 10px` */
  font-size: 62.5%;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
}

